@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.custom-font {
    font-family: "Starjedi";
    color: #FFE81F;
    font-size: 300%;
    margin-left: 40px;
    margin-right: 20px;

}

@font-face {
    font-family: 'Starjedi';
    src: url('/star_jedi/starjedi/Starjedi.ttf') format('truetype')
}

body {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: white;
    background: linear-gradient(to top, black, midnightblue);
    height: 100vh;
    position: relative;
}

.enter {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.title-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.big-star {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px 5px white;
    animation: flicker2 6s infinite;
}

.small-star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px 5px white;
    animation: flicker2 3s infinite;
}

.star1 {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.star2 {
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.star3 {
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.star4 {
    position: absolute;
    top: 90%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.star5 {
    position: absolute;
    top: 55%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.star6 {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.star7 {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.star8 {
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.star9 {
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.star10 {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.star11 {
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translate(-50%, -50%);
}

.star12 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.star13 {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.star14 {
    position: absolute;
    top: 95%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.star15 {
    position: absolute;
    top: 45%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.star16 {
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.star17 {
    position: absolute;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.star18 {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.star19 {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.star20 {
    position: absolute;
    top: 5%;
    left: 55%;
    transform: translate(-50%, -50%);
}

@keyframes flicker2 {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}